<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>cloudsmith</id>
      <username>soren-sejr-olsen</username>
      <password>181c2a9774319f74832750ac837278f4dfe6f63d</password>
    </server>
    <server>
      <id>docker.cloudsmith.io/infrastructure/docker-images</id>
<!--      <id>docker.cloudsmith.io</id>-->
      <username>soren-sejr-olsen</username>
      <password>181c2a9774319f74832750ac837278f4dfe6f63d</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>cloudsmith-repo</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>infrastructure-artifact-repo</id>
          <url>https://dl.cloudsmith.io/LMlwcHIM1VqxP27t/infrastructure/artifact-repo/maven/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>